[board_pins NightOwl]
mcu: NightOwl
aliases:
    M1_STEP=PB15    , M1_DIR=PB14   , M1_EN=PA8    , M1_UART=PB13   ,
    M2_STEP=PC6     , M2_DIR=PA9    , M2_EN=PA10   , M2_UART=PC7    ,
    # suggested switch pin configurations
    HUB=PB5         ,
    TRG1=PB11       , TRG2=PB4      ,
    EXT1=PB1        , EXT2=PB12     ,
    TN_ADV=PA3      , TN_TRL=PA2    ,
    # alternate names for endstop ports
    SW1=PB1         , SW2=PB11      , SW3=PB12      , SW4=PB4       , SW5=PB5       , SW6=PB10      , SW7=PB2       , SW8=PA2       , SW9=PA3 ,

[tmc2209 AFC_stepper lane1]
sense_resistor: 0.180
[tmc2209 AFC_stepper lane2]
sense_resistor: 0.180
