[include mcu/OWLFC_Mini.cfg]

[mcu NightOwl]
#comment one out and add serial or uuid of the board nightowl
#serial:
#canbus_uuid:

[temperature_sensor NightOwl-OWLFC_Mini]
sensor_type: temperature_mcu
sensor_mcu: NightOwl

[AFC_NightOwl NightOwl]
type: 'NightOwl'
hub: NightOwl_Hub
extruder: extruder
buffer: TN                  #Turtleneck as standard Buffer

[AFC_stepper lane1]
unit: NightOwl:1
extruder: extruder
step_pin: NightOwl:M1_STEP
dir_pin: NightOwl:M1_DIR
enable_pin: !NightOwl:M1_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 28.1
park_dist: 10
load: ^NightOwl:TRG1
prep: ^NightOwl:EXT1

[tmc2209 AFC_stepper lane1]
uart_pin: NightOwl:M1_UART
uart_address: 0
run_current: 0.6

[AFC_stepper lane2]
unit: NightOwl:2
extruder: extruder
step_pin: NightOwl:M2_STEP
dir_pin: !NightOwl:M2_DIR
enable_pin: !NightOwl:M2_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 27.87
park_dist: 10
load: ^NightOwl:TRG2
prep: ^NightOwl:EXT2

[tmc2209 AFC_stepper lane2]
uart_pin: NightOwl:M2_UART
uart_address: 0
run_current: 0.6

[AFC_hub NightOwl_Hub]
afc_bowden_length: 1317.52
move_dis: 30                # Distance to move the filament within the hub in mm.
cut: False                  # Hub has Cutter
#--=================================================================================--#
######### Hub Cut #####################################################################
#--=================================================================================--#
cut_cmd: AFC                # CMD to use
cut_dist: 200               # How much filament to cut off (in mm).
cut_clear: 120              # How far the filament should retract back from the hub (in mm).
cut_min_length: 300.0
cut_servo_pass_angle: 10    # Servo angle to align the Bowden tube with the hole for loading the toolhead.
cut_servo_clip_angle: 180   # Servo angle for cutting the filament.
cut_servo_prep_angle: 80    # Servo angle to prepare the filament for cutting (aligning the exit hole).
switch_pin: ^NightOwl:HUB
